{% extends 'base.html.twig' %}

{% block title %}Regles index{% endblock %}

{% block body %}
    <h1>Regles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regle in regles %}
            <tr>
                <td>{{ regle.id }}</td>
                <td>{{ regle.description }}</td>
                <td>
                    <a href="{{ path('regles_show', {'id': regle.id}) }}">show</a>
                    <a href="{{ path('regles_edit', {'id': regle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('regles_new') }}">Create new</a>
{% endblock %}
