

{% extends "admin/bars.html.twig" %}


{% block contenpage %}
    {% if is_granted('ROLE_ADMIN')   %}

        <div style="background-color: white" class="">
            <div class="page-title">
                <div class="title_left">
                    <h5> Listing </h5>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Liste des conversations</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                {#                            <li><a href="{{ path('newAss',{'idPA':app.user.id}) }}" class="btn btn-success">NEW</a>#}

                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <form action="{{ path('groupaction_forum') }}" id="grpaction" method="post" name="grpaction">
                                    <div class="form-group form-inline">
                                        <select class="form-control" name="action" required id="action_select">
                                            <option value="">Action de groupe</option>
                                            <option value="desactiver">Desactiver</option>
                                            <option value="activer">Activer</option>
                                            <option value="supprimer">Supprimer</option>
                                        </select>
                                        <button class="btn btn-primary" type="submit">Go!!</button>
                                    </div>

                                </form>
                                <table id="example" class="display table table-striped table-bordered dataminetables" >
                                    <thead>
                                    <th><input type="checkbox" id="select_all" name="select_all"></th>
                                    <th>id </th>
                                    <th>Nom Sujet</th>
                                    <th>Nom du proprietaire</th>

                                    <th>Nom du consultant</th>



                                    <th>Etat ?</th>
                                    <th>Suprimer</th>
                                    </thead>
                                    <tbody>
                                    {% for c in chats|sort|reverse  %}
                                        <tr>
                                            <td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ c.id }}"></td>
                                            <td>{{ c.id }}</td>
                                            <td>{{ c.name }}</td>
{#                                            <td>{{ c.creationdate }}</td>#}

                                            <td>{{ c.author }}</td>
                                            <td>{{ c.idConsultant }}</td>

                                            <td>
                                                {%  if c.valid %}
                                                    <a class="btn btn-success activate-link" href="{{ path('chat_changeV', {'id': c.id}) }}"> <i class="fa fa-check"></i></a>
                                                {% else %}
                                                    <a class="btn btn-warning activate-link" href="{{ path('chat_changeV', {'id': c.id}) }}"> <i class="fa fa-times"></i></a>
                                                {% endif %}
    <a  href="{{ path('topic', {'id': c.id}) }}"> Consulter</a>

</td>
                                            <td>

                                                <form method="post" action="{{ path('mmmm', {'id': c.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
                                                    <button class="btn">Delete</button>
                                                </form>


                                                {#                                                <form method="post" action="{{ path('Delete_Chat', {'id': c.id}) }}" onsubmit="return confirm('etes vous sure de supprimer cette conversation?');">#}
{#                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">#}
{#                                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>#}


{#                                                </form>#}
{#                                                <a href="{{ path('Delete_Chat', {'id': c.id}) }}" class="btn btn-danger" type="submit" ><i class="fa fa-trash"></i></a>#}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1><strong>404</strong>  Vous n'avez pas l'acces</h1>
    {% endif %}
{% endblock %}
