{% extends 'base.html.twig' %}

{% block title %}Activite index{% endblock %}

{% block body %}
    <h1>Activite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.id }}</td>
                <td>{{ activite.description }}</td>
                <td>
                    <a href="{{ path('activite_show', {'id': activite.id}) }}">show</a>
                    <a href="{{ path('activite_edit', {'id': activite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activite_new') }}">Create new</a>
{% endblock %}
