<!DOCTYPE html>
<html lang="en">
    <head>
        {% block metas %}
            <meta charset="UTF-8">
        {% endblock %}
{#        <i class="fa fa-users" ></i>#}
        <title>  Associations pour tous </title>

        {% block stylesheets %}



            <meta
                    http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta
                    name="viewport" content="width=device-width, initial-scale=1">

            <!-- Bootstrap -->
            <link
                    href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Font Awesome -->
            <link
                    href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!-- NProgress -->
            <link
                    href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
            <!-- Animate -->
            <link
                    href="{{ asset('vendors/animate.css/animate.css') }}" rel="stylesheet">
            <!-- iCheck -->
            <link
                    href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
            <!-- Custom Theme Style -->
            <link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet">


            <link href="{{ asset('vendors/messenger.css') }}" rel="stylesheet">

            <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

        {% endblock %}
        <style>
body{
    background-color:lightgray ;
    width: 100%;
    height: 100%;
}

        </style>
    </head>

    <body {% block bodyclass %}class="" {% endblock %}>
{#    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">#}
{#        <a class="navbar-brand" href="{{ path('index') }}">Associations pour tous</a>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#<form class="form-inline my-2 my-lg-0">#}
{#                <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
{#                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>#}
{#            </form>#}
{#        <div class="collapse navbar-collapse" id="navbarColor01">#}
{#            <ul class="navbar-nav mr-auto">#}
{#                <li class="nav-item active">#}

{#                    <a class="nav-link" href="{{ path('association_index_user') }}">Associations#}
{#                        <span class="sr-only">(current)</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ path('forumsall') }}">Voir vos messages</a>#}
{#                </li>#}

{#                <li class="nav-item" >#}
{#                    <a class="nav-link" href="{{ path('register') }}">Inscription</a>#}
{#                </li>#}
{#                <li class="nav-item" >#}
{#                    <a class="nav-link" href="{{ path('app_admin_users') }}">Se connecter</a>#}
{#                </li>#}
{#                {% if app.user %}#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ path('userr_edit',{"id":app.user.id}) }}">Modifier votre compte</a>#}
{#                </li>#}
{#{% endif %}#}
{#            </ul>#}

{#        </div>#}
{#    </nav>#}



        {% block impersionate %}
            {% if is_granted('IS_IMPERSONATOR') %}
            <div class="alert alert-warning" style="margin-bottom: 0;">
                {{ "backend.global.you_are_logged"|trans }} : {{ app.user.username }}
                <a href="{{ path('app_admin_index',{'_switch_user':'_exit'}) }}">{{ "backend.global.leave_impersonate"|trans }}</a>
            </div>
            {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>




