{# {% extends "admin/bars.html.twig" %} #}


{# {% block contenpage %} #}



{# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdnbu2dKsKShoO4zqET8uFYY6EV4KapxE&callback=initMap&libraries=&v=weekly" defer></script> #}
{# {% include 'header.html.twig' %} #}
{# <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&extension=.js"></script> #}
{# <script> #}
{# // $(document).ready(function() { #}
{# let map; #}
{# let markers = []; #}
{# function initMap() { #}
{# tab = document.querySelectorAll("div.map1"); #}
{# tab2 = document.querySelectorAll("div.test"); #}
{# long = tab2[0].childNodes; #}
{# console.log(tab2[0].childNodes); #}
{# console.log(long[1],long[3]); #}
{# for (let i = 0; i < tab.length; i++) { #}
{# var latit = Number(tab2[i].childNodes[3].value); #}
{# var long =Number(tab2[i].childNodes[1].value); #}
{# const haightAshbury = {lat:long ,lng:latit}; #}
{# map = new google.maps.Map(document.getElementById(tab[i].id), { #}
{# zoom: 12, #}
{# center: haightAshbury, #}
{# draggable: true #}
{# }); #}
{# new google.maps.Marker({ #}
{# position: haightAshbury, #}
{# map, #}
{# title: "Localisation", #}
{# }); #}
{# } #}
{# } #}
{# </script> #}
{# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"> #}


{# <div style="width: 500px;height: 500px" id="map"></div> #}

{# <div class="container"> #}
{# <div class="row"> #}
{# <div class="col-sm-12"> #}
{# <div class="alert alert-warning alert-dismissible fade show" role="alert" style="visibility: hidden" id="alert"> #}
{# You should login to create a post ! #}
{# <button type="button" class="close" data-dismiss="alert" aria-label="Close"  onclick="closediv()"> #}
{# <span aria-hidden="true">&times;</span> #}
{# </button> #}
{# </div> #}
{# <div class="title-box text-center">#}
{# {% if app.user %}#}
{# {% if app.user.deleted!=1 %}#}
{# <a href="{{ path('newpost') }}"><button class="button button-a button-big button-rouded">Créer une nouvelle publication</button></a>#}
{# {% else %}#}
{# <a href="#"  title="Vous êtes bloqués par un admin Associations pour tous en raison de votre comportement !"><button disabled class="button button-a button-big button-rouded">Créer une nouvelle publication</button></a>#}
{# {% endif %}#}
{# {% else %}#}
{# <button onclick="alertinfo();" class="button button-a button-big button-rouded">Créer une nouvelle publication</button>#}
{# {% endif %}#}
{# <script>#}
{# function alertinfo(){#}
{# alert("Vous devez connecter à votre compte pour pouvoir créer un post ");#}
{# }#}
{# </script>#}
{# </div>#}


{# <p class="subtitle-a"> #}
{# </p> #}
{# <div class="line-mf"> #}
{# </div> #}
{# </div> #}
{# {% for message in app.flashes('notice') %} #}
{# <div class="alert alert-success"> #}
{# {{ message }} #}
{# </div> #}
{# {% endfor %} #}
{# </div> #}
{# </div> #}
{# </div> #}

{# <div  class=" container" > #}
{# <div class="animated fadeIn carte " style="width: 64rem;" id="divcard"> #}
{# {% for pub in pubs|sort((a, b) => b.datePub <=> a.datePub) %} #}
{# {% if pub.statut !="R" %} #}
{# <div class="card-body"> #}

{# <p class="x_content">                    <p style="margin-left: 10px;font-size: small;color: lightsteelblue">Publié par {{pub.user.nomComplet |upper}} {{ pub.user.nomComplet}}</p> #}
{# <p style="margin-left: 505px;font-size: small;color: lightsteelblue;margin-top: -35px;">le {{ pub.datePub |date('d/m/Y H:i') }}</p> #}
{# <div class="card-body" style="margin-top: -20px"> #}
{# <h5 > {{ pub.nom }}</h5> #}
{# <h6 >{{ pub.sexe}}</h6> #}
{# <h6 >{{ pub.age}} ans </h6> #}
{# <div style="height: 100px;position: relative"> #}
{# <span style="font-size: small">{{ pub.contenuPub}}</span> #}
{# </div> #}

{# <div id="{{ pub.id }}" class="map1" style="height: 200px"></div> #}
{# <div class="test"> #}
{# <input id="tableau1" type="hidden" value="{{ pub.longitude }}"/> #}
{# <input id="tableau2" type="hidden" value="{{ pub.latitude }}"/> #}
{# </div> #}
{# <br> #}
{# <div class="inner"> #}
{# <!--***** GALLERY *****--> #}
{# {% if pub.mutimedia | length == 4 %} #}
{# <div class="my-gallery" itemscope > #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <table> #}
{# <tr> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <img class="inner rounded" src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 280px;height: 200px;margin-left: 20px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" style="width: 280px;height: 200px;margin-left: 150px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# </tr> #}
{# <tr> #}
{# <td > #}
{# <figure itemprop="associatedMedia" itemscope> #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" style="width: 280px;height: 200px;margin-left: 20px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[3].source) }}" itemprop="contentUrl" data-size="1000x1024"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[3].source) }}" style="width: 280px;height: 200px;margin-left: 150px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# </tr> #}
{# </table> #}
{# </figure> #}
{# </div> #}
{# {% endif %} #}
{# {% if pub.mutimedia | length == 3 %} #}
{# <div class="my-gallery" itemscope> #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <table> #}
{# <tr> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 170px;height: 100px;margin-left: 20px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope > #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" style="width: 160px;height: 100px;margin-left: 40px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# </tr> #}
{# <tr> #}
{# <td colspan="2"> #}
{# <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" style="width: 250px;height: 120px;margin-left: 60px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# </tr> #}
{# </table> #}
{# </figure> #}
{# </div> #}
{# {% endif %} #}
{# {% if pub.mutimedia | length == 2 %} #}
{# <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery"> #}
{# <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> #}
{# <table> #}
{# <tr> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <div class="inner"> #}
{# <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 280px;height: 300px;margin-left: 7px" itemprop="thumbnail" alt="Image description" /> #}
{# </div> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# <td> #}
{# <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" itemprop="contentUrl" data-size="964x1024"> #}
{# <div class="inner"> #}
{# <img class="rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" style="width: 280px;height: 300px;margin-left: 130px" itemprop="thumbnail" alt="Image description" /> #}
{# </div> #}
{# </a> #}
{# </figure> #}
{# </td> #}
{# </tr> #}
{# </table> #}
{# </figure> #}
{# </div> #}
{# {% endif %} #}
{# {% if pub.mutimedia | length == 1 %} #}
{# <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery"> #}
{# <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> #}
{# <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> #}
{# <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="1024x1024"> #}
{# <img class="rounded" src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 500px;height: 390px;margin-left: 50px" itemprop="thumbnail" alt="Image description" /> #}
{# </a> #}
{# </figure> #}
{# </figure> #}
{# </div> #}
{# {% endif %} #}
{# </div> #}
{# </div> #}
{# {% if app.user %} #}
{# {% if app.user.deleted!=1 %} #}
{# <form  name="form" method="get" id="{{ pub.id }}" class="comment"  action="{{ path('newcomment',{'id':pub.id}) }}" > #}
{# <input  type="text" placeholder="Ecrivez votre commentaire ici ..." style="padding: 11px;width: 490px" name="aa" id="aa" class="texte" > #}
{# <a href="{{ path('singlepost',{'id':pub.id}) }}" > <p style="margin-top: -40px;margin-left:520px " > #}
{# <span id="count" class="count">{{ pub.commentaires | length }}</span> commentaires</p></a> #}
{# <br> #}
{# <div style="background-color: #F6FDFE;padding: 1px;border-radius: 20px"> #}
{# <span style="font-size: medium;font-weight: bold;margin-left: 10px" id="11" class="c1"></span> #}
{# <p class="msg" id="msg" style="font-size: small;margin-left: 10px"></p> #}
{# </div> #}
{# </form> #}
{# {% else %} #}
{# <form  name="form" method="get" id="{{ pub.id }}" class="comment"  action="{{ path('newcomment',{'id':pub.id}) }}" > #}
{# <input disabled type="text" placeholder="Ecrivez votre commentaire ici ..." #}
{# title="Vous êtes bloqués par un admin FINDME en raison de votre comportement !" #}
{# style="padding: 11px;width: 490px" name="aa" id="aa" class="texte" > #}
{# <a href="{{ path('singlepost',{'id':pub.id}) }}" > <p style="margin-top: -40px;margin-left:520px " ><span id="count" class="count">{{ pub.commentaires | length }}</span> commentaires</p></a> #}
{# <br> #}
{# <div style="background-color: #F6FDFE;padding: 1px;border-radius: 20px"> #}
{# <span style="font-size: medium;font-weight: bold;margin-left: 10px" id="11" class="c1"></span> #}
{# <p class="msg" id="msg" style="font-size: small;margin-left: 10px"></p> #}
{# </div> #}
{# </form> #}
{# {% endif %} #}
{# {% else %} #}
{# <a href="{{ path('singlepost',{'id':pub.id}) }}" > #}
{# <p style="margin-left:520px"><span id="count" class="count">{{ pub.commentaires | length }}</span> commentaires</p></a> #}
{# {% endif %} #}
{# </div> #}
{# {% endif %} #}
{# {% endfor %} #}

{# </div> #}

{# </div> #}


{# <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> #}
{# <script> #}
{# // let map; #}
{# // let markers = []; #}
{# // function initMap() { #}
{# //     tab = document.querySelectorAll("div.map1"); #}
{# //     console.log(tab[1].id); #}
{# //     for (let i = 0; i < tab.length; i++) { #}
{# //         const haightAshbury = {lat: 37.2720905, lng: 9.8708565}; #}
{# //         map = new google.maps.Map(document.getElementById(tab[i].id), { #}
{# //             zoom: 10, #}
{# //             center: haightAshbury, #}
{# //             draggable: true #}
{# //         }); #}
{# //     } #}
{# // } #}


{# function onClickBtnLike(event){ #}
{# event.preventDefault(); #}
{# const url = this.action; #}
{# console.log(url); #}
{# var com = this.querySelector('.msg'); #}
{# var span = this.querySelector('.c1'); #}
{# var count = this.querySelector('.count'); #}
{# var texte= this.querySelector('.texte'); #}
{# console.log(texte); #}
{# let data = new FormData(this); #}
{# axios.post(url,data).then(function(response){ #}
{# // $('#count').load(document.URL +  ' #count'); #}
{# console.log(response.data); #}
{# count.textContent = response.data.nbrcomments; #}
{# span.textContent = response.data.message; #}
{# {% if app.user %} #}
{# com.textContent = " Ajouté par {{ app.user.nomComplet |upper }} {{ app.user.nomComplet }}"+"  à " + "  " + response.data.dateajout; #}
{# {% endif %} #}
{# $('#aa').value=""; #}
{# // $('#msg').load(document.URL +  ' #msg'); #}
{# }).catch(function(error){ #}
{# console.log(error) #}
{# }) #}
{# } #}
{# document.querySelectorAll('form.comment').forEach(function (link) { #}
{# link.addEventListener('submit',onClickBtnLike) #}
{# }) #}
{# </script> #}
{# <!--***** PHOTOSWIPE *****--> #}
{# <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true"> #}
{# <div class="pswp__bg"></div> #}
{# <div class="pswp__scroll-wrap"> #}
{# <div class="pswp__container"> #}
{# <div class="pswp__item"></div> #}
{# <div class="pswp__item"></div> #}
{# <div class="pswp__item"></div> #}
{# </div> #}
{# <div class="pswp__ui pswp__ui--hidden"> #}
{# <div class="pswp__top-bar"> #}
{# <div class="pswp__counter"></div> #}
{# <button class="pswp__button pswp__button--close" title="Close (Esc)">1</button> #}
{# <button class="pswp__button pswp__button--share" title="Share">2</button> #}
{# <button class="pswp__button pswp__button--fs" title="Toggle fullscreen">3</button> #}
{# <button class="pswp__button pswp__button--zoom" title="Zoom in/out">4</button> #}
{# <div class="pswp__preloader"> #}
{# <div class="pswp__preloader__icn"> #}
{# <div class="pswp__preloader__cut"> #}
{# <div class="pswp__preloader__donut"> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"> #}
{# <div class="pswp__share-tooltip"> #}
{# </div> #}
{# </div> #}
{# <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> #}
{# <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button> #}
{# <div class="pswp__caption"> #}
{# <div class="pswp__caption__center"></div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}

{# <!-- PhotoSwipe JS --> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script> #}


{# <script> #}
{# var initPhotoSwipeFromDOM = function(gallerySelector) { #}
{# // parse slide data (url, title, size ...) from DOM elements #}
{# // (children of gallerySelector) #}
{# var parseThumbnailElements = function(el) { #}
{# var thumbElements = el.childNodes, #}
{# numNodes = thumbElements.length, #}
{# items = [], #}
{# figureEl, #}
{# linkEl, #}
{# size, #}
{# item; #}
{# for(var i = 0; i < numNodes; i++) { #}
{# figureEl = thumbElements[i]; // <figure> element #}
{# // include only element nodes #}
{# if(figureEl.nodeType !== 1) { #}
{# continue; #}
{# } #}
{# linkEl = figureEl.children[0]; // <a> element #}
{# size = linkEl.getAttribute('data-size').split('x'); #}
{# // create slide object #}
{# item = { #}
{# src: linkEl.getAttribute('href'), #}
{# w: parseInt(size[0], 10), #}
{# h: parseInt(size[1], 10) #}
{# }; #}
{# if(figureEl.children.length > 1) { #}
{# // <figcaption> content #}
{# item.title = figureEl.children[1].innerHTML; #}
{# } #}
{# if(linkEl.children.length > 0) { #}
{# // <img> thumbnail element, retrieving thumbnail url #}
{# item.msrc = linkEl.children[0].getAttribute('src'); #}
{# } #}
{# item.el = figureEl; // save link to element for getThumbBoundsFn #}
{# items.push(item); #}
{# } #}
{# return items; #}
{# }; #}
{# // find nearest parent element #}
{# var closest = function closest(el, fn) { #}
{# return el && ( fn(el) ? el : closest(el.parentNode, fn) ); #}
{# }; #}
{# // triggers when user clicks on thumbnail #}
{# var onThumbnailsClick = function(e) { #}
{# e = e || window.event; #}
{# e.preventDefault ? e.preventDefault() : e.returnValue = false; #}
{# var eTarget = e.target || e.srcElement; #}
{# // find root element of slide #}
{# var clickedListItem = closest(eTarget, function(el) { #}
{# return (el.tagName && el.tagName.toUpperCase() === 'FIGURE'); #}
{# }); #}
{# if(!clickedListItem) { #}
{# return; #}
{# } #}
{# // find index of clicked item by looping through all child nodes #}
{# // alternatively, you may define index via data- attribute #}
{# var clickedGallery = clickedListItem.parentNode, #}
{# childNodes = clickedListItem.parentNode.childNodes, #}
{# numChildNodes = childNodes.length, #}
{# nodeIndex = 0, #}
{# index; #}
{# for (var i = 0; i < numChildNodes; i++) { #}
{# if(childNodes[i].nodeType !== 1) { #}
{# continue; #}
{# } #}

{# if(childNodes[i] === clickedListItem) { #}
{# index = nodeIndex; #}
{# break; #}
{# } #}
{# nodeIndex++; #}
{# } #}
{# if(index >= 0) { #}
{# // open PhotoSwipe if valid index found #}
{# openPhotoSwipe( index, clickedGallery ); #}
{# } #}
{# return false; #}
{# }; #}
{# // parse picture index and gallery index from URL (#&pid=1&gid=2) #}
{# var photoswipeParseHash = function() { #}
{# var hash = window.location.hash.substring(1), #}
{# params = {}; #}

{# if(hash.length < 5) { #}
{# return params; #}
{# } #}
{# var vars = hash.split('&'); #}
{# for (var i = 0; i < vars.length; i++) { #}
{# if(!vars[i]) { #}
{# continue; #}
{# } #}
{# var pair = vars[i].split('='); #}
{# if(pair.length < 2) { #}
{# continue; #}
{# } #}
{# params[pair[0]] = pair[1]; #}
{# } #}
{# if(params.gid) { #}
{# params.gid = parseInt(params.gid, 10); #}
{# } #}
{# return params; #}
{# }; #}
{# var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) { #}
{# var pswpElement = document.querySelectorAll('.pswp')[0], #}
{# gallery, #}
{# options, #}
{# items; #}
{# items = parseThumbnailElements(galleryElement); #}
{# // define options (if needed) #}
{# options = { #}
{# // define gallery index (for URL) #}
{# galleryUID: galleryElement.getAttribute('data-pswp-uid'), #}
{# getThumbBoundsFn: function(index) { #}
{# // See Options -> getThumbBoundsFn section of documentation for more info #}
{# var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail #}
{# pageYScroll = window.pageYOffset || document.documentElement.scrollTop, #}
{# rect = thumbnail.getBoundingClientRect(); #}
{# return {x:rect.left, y:rect.top + pageYScroll, w:rect.width}; #}
{# } #}
{# }; #}
{# // PhotoSwipe opened from URL #}
{# if(fromURL) { #}
{# if(options.galleryPIDs) { #}
{# // parse real index when custom PIDs are used #}
{# // http://photoswipe.com/documentation/faq.html#custom-pid-in-url #}
{# for(var j = 0; j < items.length; j++) { #}
{# if(items[j].pid === index) { #}
{# options.index = j; #}
{# break; #}
{# } #}
{# } #}
{# } else { #}
{# // in URL indexes start from 1 #}
{# options.index = parseInt(index, 10) - 1; #}
{# } #}
{# } else { #}
{# options.index = parseInt(index, 10); #}
{# } #}
{# // exit if index not found #}
{# if( isNaN(options.index) ) { #}
{# return; #}
{# } #}
{# if(disableAnimation) { #}
{# options.showAnimationDuration = 0; #}
{# } #}
{# // Pass data to PhotoSwipe and initialize it #}
{# gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options); #}
{# gallery.init(); #}
{# }; #}
{# // loop through all gallery elements and bind events #}
{# var galleryElements = document.querySelectorAll( gallerySelector ); #}
{# for(var i = 0, l = galleryElements.length; i < l; i++) { #}
{# galleryElements[i].setAttribute('data-pswp-uid', i+1); #}
{# galleryElements[i].onclick = onThumbnailsClick; #}
{# } #}
{# // Parse URL and open gallery if it contains #&pid=3&gid=1 #}
{# var hashData = photoswipeParseHash(); #}
{# if(hashData.pid && hashData.gid) { #}
{# openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true ); #}
{# } #}
{# }; #}
{# // execute above function #}
{# initPhotoSwipeFromDOM('.my-gallery'); #}
{# </script> #}
{# {% endblock %} #}

{# **************************mouna************************************ #}



{% extends "admin/bars.html.twig" %}


{% block contenpage %}
    <style>




/*        h1,*/
/*        h2 {*/
/*            font-weight: 500;*/
/*            margin: 0px 0px 5px 0px;*/
/*        }*/

/*        h1 {*/
/*            font-size: 24px;*/
/*        }*/

/*        h2 {*/
/*            font-size: 16px;*/
/*        }*/

/*        p {*/
/*            margin: 0px;*/
/*        }*/

        .profile-card {
            background: #FFB300;
            width: 56px;
            height: 56px;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            overflow: hidden;
            opacity: 0;
            margin-top: 70px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
            -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
            animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
        }

        .profile-card header {
            width: 179px;
            height: 280px;
            padding: 40px 20px 30px 20px;
            display: inline-block;
            float: left;
            border-right: 2px dashed #EEEEEE;
            background: #FFFFFF;
            color: #000000;
            margin-top: 50px;
            opacity: 0;
            text-align: center;
            -webkit-animation: moveIn 1s 3.1s ease forwards;
            animation: moveIn 1s 3.1s ease forwards;
        }

        .profile-card header h1 {
            color: #FF5722;
        }

        .profile-card header a {
            display: inline-block;
            text-align: center;
            position: relative;
            margin: 25px 30px;
        }

        .profile-card header a:after {
            position: absolute;
            content: "";
            bottom: 3px;
            right: 3px;
            width: 20px;
            height: 20px;
            border: 4px solid #FFFFFF;
            -webkit-transform: scale(0);
            transform: scale(0);
            background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
            background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
            animation: scaleIn 0.3s 3.5s ease forwards;
        }

        .profile-card header a > img {
            width: 120px;
            max-width: 100%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: -webkit-box-shadow 0.3s ease;
            transition: box-shadow 0.3s ease;
            -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
        }

        .profile-card header a:hover > img {
            -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
        }

        .profile-card .profile-bio {
            width: 175px;
            height: 180px;
            display: inline-block;
            float: right;
            padding: 50px 20px 30px 20px;
            background: #FFFFFF;
            color: #333333;
            margin-top: 50px;
            text-align: center;
            opacity: 0;
            -webkit-animation: moveIn 1s 3.1s ease forwards;
            animation: moveIn 1s 3.1s ease forwards;
        }

        .profile-social-links {
            width: 218px;
            display: inline-block;
            float: right;
            margin: 0px;
            padding: 15px 20px;
            background: #FFFFFF;
            margin-top: 50px;
            text-align: center;
            opacity: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-animation: moveIn 1s 3.1s ease forwards;
            animation: moveIn 1s 3.1s ease forwards;
        }

        .profile-social-links li {
            list-style: none;
            margin: -5px 0px 0px 0px;
            padding: 0px;
            float: left;
            width: 25%;
            text-align: center;
        }

        .profile-social-links li a {
            display: inline-block;
            color: red;
            width: 24px;
            height: 24px;
            padding: 6px;
            position: relative;
            overflow: hidden!important;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .profile-social-links li a i {
            position: relative;
            z-index: 1;
        }

        .profile-social-links li a i,
        .profile-social-links li a svg {
            width: 24px;
        }

        @-webkit-keyframes init {
            0% {
                width: 0px;
                height: 0px;
            }
            100% {
                width: 56px;
                height: 56px;
                margin-top: 0px;
                opacity: 1;
            }
        }

        @keyframes init {
            0% {
                width: 0px;
                height: 0px;
            }
            100% {
                width: 56px;
                height: 56px;
                margin-top: 0px;
                opacity: 1;
            }
        }

        @-webkit-keyframes puff {
            0% {
                top: 100%;
                height: 0px;
                padding: 0px;
            }
            100% {
                top: 50%;
                height: 100%;
                padding: 0px 100%;
            }
        }

        @keyframes puff {
            0% {
                top: 100%;
                height: 0px;
                padding: 0px;
            }
            100% {
                top: 50%;
                height: 100%;
                padding: 0px 100%;
            }
        }

        @-webkit-keyframes borderRadius {
            0% {
                -webkit-border-radius: 50%;
            }
            100% {
                -webkit-border-radius: 0px;
            }
        }

        @keyframes borderRadius {
            0% {
                -webkit-border-radius: 50%;
            }
            100% {
                border-radius: 0px;
            }
        }

        @-webkit-keyframes moveDown {
            0% {
                top: 50%;
            }
            50% {
                top: 40%;
            }
            100% {
                top: 100%;
            }
        }

        @keyframes moveDown {
            0% {
                top: 50%;
            }
            50% {
                top: 40%;
            }
            100% {
                top: 100%;
            }
        }

        @-webkit-keyframes moveUp {
            0% {
                background: #FFB300;
                top: 100%;
            }
            50% {
                top: 40%;
            }
            100% {
                top: 50%;
                background: #E0E0E0;
            }
        }

        @keyframes moveUp {
            0% {
                background: #FFB300;
                top: 100%;
            }
            50% {
                top: 40%;
            }
            100% {
                top: 50%;
                background: #E0E0E0;
            }
        }

        @-webkit-keyframes materia {
            0% {
                background: #E0E0E0;
            }
            50% {
                -webkit-border-radius: 4px;
            }
            100% {
                width: 440px;
                height: 280px;
                background: #FFFFFF;
                -webkit-border-radius: 4px;
            }
        }

        @keyframes materia {
            0% {
                background: #E0E0E0;
            }
            50% {
                border-radius: 4px;
            }
            100% {
                width: 440px;
                height: 280px;
                background: #FFFFFF;
                border-radius: 4px;
            }
        }

        @-webkit-keyframes moveIn {
            0% {
                margin-top: 50px;
                opacity: 0;
            }
            100% {
                opacity: 1;
                margin-top: -20px;
            }
        }

        @keyframes moveIn {
            0% {
                margin-top: 50px;
                opacity: 0;
            }
            100% {
                opacity: 1;
                margin-top: -20px;
            }
        }

        @-webkit-keyframes scaleIn {
            0% {
                -webkit-transform: scale(0);
            }
            100% {
                -webkit-transform: scale(1);
            }
        }

        @keyframes scaleIn {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }

        @-webkit-keyframes ripple {
            0% {
                transform: scale3d(0, 0, 0);
            }
            50%,
            100% {
                -webkit-transform: scale3d(1, 1, 1);
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes ripple {
            0% {
                transform: scale3d(0, 0, 0);
            }
            50%,
            100% {
                transform: scale3d(1, 1, 1);
            }
            100% {
                opacity: 0;
            }
        }

        @media screen and (min-aspect-ratio: 4/3) {
            body {
                background-size: cover;
            }
            body:before {
                width: 0px;
            }
        @ -webkit-keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
        }
        @keyframes puff {
            0% {
                top: 100%;
                width: 0px;
                padding-bottom: 0px;
            }
            100% {
                top: 50%;
                width: 100%;
                padding-bottom: 100%;
            }
        }
        }

        @media screen and (min-height: 480px) {
            .profile-card header {
                width: auto;
                height: auto;
                padding: 30px 20px;
                display: block;
                float: none;
                border-right: none;
            }
            .profile-card .profile-bio {
                width: auto;
                height: auto;
                padding: 15px 20px 30px 20px;
                display: block;
                float: none;
            }
            .profile-social-links {
                width: 100%;
                display: block;
                float: none;
            }
        @ -webkit-keyframes materia {
        0% {
            background: #E0E0E0;
        }
        50% {
            -webkit-border-radius: 4px;
        }
        100% {
            width: 280px;
            height: 440px;
            background: #FFFFFF;
            -webkit-border-radius: 4px;
        }
        }
        @keyframes materia {
            0% {
                background: #E0E0E0;
            }
            50% {
                border-radius: 4px;
            }
            100% {
                width: 280px;
                height: 440px;
                background: #FFFFFF;
                border-radius: 4px;
            }
        }
        }
        body {
            background: #eee;
            color: #777;
        }

        h1 {
            color: #333;
            font-weight: 700;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
        }

        .summary {
            border: solid 1px #ddd;
            padding: 25px;
            background: #fff;
            box-shadow: 0 0 0.5;
        }

        .summary .title {
            display: block;
            padding: 0 0 15px 0;
        }

        .summary .teaser-text {
            padding: 0 0 15px 0;
        }

        .thumbnail {
            border: none;
        }

        .spacer-50 {
            margin: 50px 0;
        }
.animated-button2{display:table;padding:10px 30px;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;font-size:20px;background: #0b97c4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, dodgerblue, cornflowerblue);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightblue, lightskyblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;border:none;outline:none;cursor:pointer;transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;
}
.animated-button2:hover{transform:scale(1.2);box-shadow:0px 0px 20px rgba(0,0,0,.2)}
.animated-button2 i{margin-right:20px;transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;}
.animated-button2:hover i{transform:rotate(360deg)}
    </style>
    <script>
        // $(document).ready(function() {
        let map;
        let markers = [];

        function initMap() {
            tab = document.querySelectorAll("div.map1");
            tab2 = document.querySelectorAll("div.test");
            long = tab2[0].childNodes;
            console.log(tab2[0].childNodes);
            console.log(long[1], long[3]);
            for (let i = 0; i < tab.length; i++) {
                var latit = Number(tab2[i].childNodes[3].value);
                var long = Number(tab2[i].childNodes[1].value);
                const haightAshbury = {lat: long, lng: latit};
                map = new google.maps.Map(document.getElementById(tab[i].id), {
                    zoom: 12,
                    center: haightAshbury,
                    draggable: true
                });
                new google.maps.Marker({
                    position: haightAshbury,
                    map,
                    title: "Localisation",
                });
            }
        }
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">















    <!-- Modal -->








    <div class="modal modalAnimate fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true" data-animation-in="fadeInLeft"  data-animation-out="bounceOut">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Les regles d'utilisations</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="writer"></div>
                        {% for r in regles %}
                            <p style="font-family:'Comic Sans MS' ">* {{ r.description }}</p>
                        {% endfor %}
                    </div>

                    <!-- Modal footer -->

                    <div class="modal-footer">
                        <a href="{{ path('newpost') }}">
                            <button class="btn-light " style="font-family:'Comic Sans MS' ">Créer une nouvelle publication
                            </button>

                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>













    <div  class="container">
        <div class="title-box text-center">
            {% if app.user and is_granted("ROLE_USER") and not is_granted("ROLE_PASSOCIATION") and not is_granted("ROLE_SUPERUSER") and not is_granted("ROLE_CONSULTANT") %}
                {% if app.user.deleted!=1 %}
{#                    <a href="{{ path('newpost') }}"><button class="button button-a button-big button-rouded">Créer une nouvelle publication</button></a>#}
                    <button style="float: right" type="button" class="animated-button2" data-toggle="modal" data-target="#myModal">
                       <i class="fa fa-file-text"></i> Ajouter une publication
                    </button>
                {% else %}
                    <a href="#"  title="Vous êtes bloqués par un admin Associations pour tous en raison de votre comportement !"><button disabled class="animated-button2"><i class="fa fa-file-text"></i> Créer une nouvelle publication</button></a>
                {% endif %}
            {% else %}
                <button onclick="alertinfo();" style="float:right" class="animated-button2"><i class="fa fa-file-text"></i> Créer une nouvelle publication</button>
            {% endif %}
            <script>
                function alertinfo(){
                    alert("Vous devez connecter à votre compte pour pouvoir créer un post ");
                }
            </script>
        </div>
        <div  class="row">



            {% for pub in pubs | filter(pubs => pubs.isValid)  |sort((a, b) => b.datePub <=> a.datePub) %}






                    <div style="margin-left: 50px ;width: 800px ;margin-bottom: 10px" class="col-xs-10 col-xs-offset-1 summary">
                        <div class="col-md-6">






                            <div  class="modal fade" id="{{ pub.user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                            <br/><br/><br/>



                                <aside class="profile-card">

                                    <header>

                                        <!-- here’s the avatar -->
                                        <a href="http://victory-design.ru/">
                                            <img height="100px" src="{{ asset('uploads/images/'  ~ pub.user.logo)}}"  class="hoverZoomLink">
                                        </a>

                                        <!-- the username -->
                                        <h1>{{ pub.user.nomComplet }}</h1>

                                        <!-- and role or location -->
{#                                        <h2>Web Developer</h2>#}

                                    </header>

                                    <!-- bit of a bio; who are you? -->
                                    <div class="profile-bio">

                                        <p>
                                            Date de naissance: {{ pub.user.datenaissance |date('d/m/Y'  )}}<br/>
                                                                                                    Numero de telephone: {{ pub.user.numeroTel}} <br/>

                                        <a href="{{ pub.user.lienFbk }}" >             <h2 style="
                                    color:darkblue;
                                    font-family: Lobster;">Facebook</h2></a>

                                            <a href="{{  pub.user.lienInstagram}}">            <h2 style="
                                    color:deeppink;
                                    font-family: Lobster;">Instagram</h2></a>

                                        </p>

                                    </div>

                                    <!-- some social links to show off -->


                                </aside>
                                        </div>



                                <span class="title">
                {% if  is_granted("ROLE_PASSOCIATION") and pub.isResolved != 1   %}

                                    <p>pour resoudre ce probleme merci de nous publier des activites </p>    <a href="{{ path('resoudre',{"id":pub.id,"id1":app.user.id}) }}" >Publier des activités</a>
                {% endif %}
                                    {% if  pub.isResolved == 1   %}
{% for a in activites %}
    {% if a.publication.id == pub.id %}
{% if a.isValid ==1 %}
                                        <p style="margin: 2px" >Probleme Resolue par



                                      <a href="{{ path('UserAssoci',{"id":a.association.id}) }}"><i
                                                  class=" center-icon"> {{ a.association.titre }}</i></a>


                                           </p>
{% endif %}
    {% endif %}
                        {% endfor %}
                                             {% for c in pub.activites %}
{% if c.isValid ==1 and c.isDeleted==0 %}

                                        <a href="{{ path('problemeResolue',{"id":c.id}) }}"> <h5> voir les activites</h5></a>
               {% endif %}
                                    {% endfor %}
                                        {% endif %}
{#                                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#basicModal"><p>Résoudre ce probleme</p> </a>#}

{#<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h4 class="modal-title" id="myModalLabel">Resolution probléme</h4>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <h6>{{  app.user.nomcomplet}} ! merci de nous publier vos activites pour mieux resoudre ce probleme </h6>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
{#                                              <a href="{{ path('resoudre',{"id":pub.id}) }}" class="btn btn-default" type="button"  ><h6>Ajouter des activites</h6></a>#}

{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}




            <a href="#" data-toggle="modal" data-target="#{{ pub.user.id }}">
                <h5 style="font-family: 'Times New Roman'" >
                    {{ pub.user.nomComplet |upper }}</h5>
            </a>

                                <p style="color: blue;font-family: 'Fira Sans', sans-serif"> a ajouté cette publication le {{ pub.datePub |date('d/m/Y H:i') }}</p>
     </span>
                                <p class="teaser-text">
                            <p style="font-family: 'Comic Sans MS';font-size: 15px;color: darkblue" >    {{ pub.contenuPub }}</p></p>
                            </a>
                        </div>
                        <div class="col-md-6 thumbnail">
                            <div id="{{ pub.id }}" class="map1" style="height: 200px"></div>
                            <div class="test">
                                <input id="tableau1" type="hidden" value="{{ pub.longitude }}"/>
                                <input id="tableau2" type="hidden" value="{{ pub.latitude }}"/>
                            </div>
                            </a>
                        </div>
                        <div class="inner">
                            {% if pub.mutimedia | length == 4 %}
                                <div class="my-gallery" itemscope>
                                    <figure itemprop="associatedMedia" itemscope>
                                        <table>
                                            <tr>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope>
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                                 style="width: 280px;height: 200px;margin-left: 20px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope>
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}"
                                                                 style="width: 280px;height: 200px;margin-left: 150px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope>
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}"
                                                                 style="width: 280px;height: 200px;margin-left: 20px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope>
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[3].source) }}"
                                                           itemprop="contentUrl" data-size="1000x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[3].source) }}"
                                                                 style="width: 280px;height: 200px;margin-left: 150px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>
                                            </tr>
                                        </table>
                                    </figure>
                                </div>
                            {% endif %}
                            {% if pub.mutimedia | length == 3 %}
                                <div class="my-gallery" itemscope>
                                    <figure itemprop="associatedMedia" itemscope>
                                        <table>
                                            <tr>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope>
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                                 style="width: 170px;height: 100px;margin-left: 20px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope>
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}"
                                                                 style="width: 50px;height: 50px;margin-left: 40px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>

                                                <td colspan="2">
                                                    <figure itemprop="associatedMedia" itemscope
                                                            itemtype="http://schema.org/ImageObject">
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <img class="inner rounded"
                                                                 src="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}"
                                                                 style="width: 50px;height: 50px;margin-left: 60px"
                                                                 itemprop="thumbnail" alt="Image description"/>
                                                        </a>
                                                    </figure>
                                                </td>
                                            </tr>
                                        </table>
                                    </figure>
                                </div>
                            {% endif %}


                            {% if pub.mutimedia | length == 2 %}
                                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                    <figure itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                        <table>
                                            <tr>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope
                                                            itemtype="http://schema.org/ImageObject">
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <div class="inner">
                                                                <img class="inner rounded"
                                                                     src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                                     style="width: 50px;height: 50px;margin-left: 7px"
                                                                     itemprop="thumbnail" alt="Image description"/>
                                                            </div>
                                                        </a>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <figure itemprop="associatedMedia" itemscope
                                                            itemtype="http://schema.org/ImageObject">
                                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}"
                                                           itemprop="contentUrl" data-size="964x1024">
                                                            <div class="inner">
                                                                <img class="rounded"
                                                                     src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}"
                                                                     style="width: 50px;height: 50px;margin-left: 130px"
                                                                     itemprop="thumbnail" alt="Image description"/>
                                                            </div>
                                                        </a>
                                                    </figure>
                                                </td>
                                            </tr>
                                        </table>
                                    </figure>
                                </div>
                            {% endif %}

                            {% if pub.mutimedia | length == 1 %}
                                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                    <figure itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                        <figure itemprop="associatedMedia" itemscope
                                                itemtype="http://schema.org/ImageObject">
                                            <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                               itemprop="contentUrl" data-size="1024x1024">
                                                <img class="rounded"
                                                     src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}"
                                                     style="width: 50px;height: 50px;margin-left: 50px"
                                                     itemprop="thumbnail" alt="Image description"/>
                                            </a>
                                        </figure>
                                    </figure>
                                </div>
                            {% endif %}

                            <br/>

                            {% if app.user %}
                                {% if app.user.deleted!=1 %}
                                    {% if pub.isResolved !=1 %}

                                    <form name="form" method="get" id="{{ pub.id }}" class="comment"
                                          action="{{ path('newcomment',{'id':pub.id}) }}">
                                        <input type="text" placeholder="Ecrivez votre commentaire ici ..."
                                               style="padding: 11px;width: 490px" name="aa" id="aa" class="texte">
                                        <a href="{{ path('singleposts',{'id':pub.id}) }}"><p
                                                    style="margin-top: -40px;margin-left:520px "><span id="count"
                                                                                                       class="count">{{ pub.commentaires | length }}</span>
                                                commentaires</p></a>
                                        <br>
                                        <div style="background-color: #F6FDFE;padding: 1px;border-radius: 20px">
                                            <span style="font-size: medium;font-weight: bold;margin-left: 10px" id="11"
                                                  class="c1"></span>
                                            <p class="msg" id="msg" style="font-size: small;margin-left: 10px"></p>
                                        </div>
                                    </form>
                                        {% else %}
                                            {% if not app.user or  app.user  %}
{#                                            {% for c in pub.activites %}#}


{#                                                <a href="{{ path('problemeResolue',{"id":c.id}) }}"> <h5> voir les activites</h5></a>#}
{#                                            {% endfor %}#}
{% endif %}
                                    {% endif %}

                                {% else %}

                                    <form name="form" method="get" id="{{ pub.id }}" class="comment"
                                          action="{{ path('newcomment',{'id':pub.id}) }}">
                                        <input onclick="boluqer()" disabled
                                               title="Vous êtes bloqué pour le moment par un administrateur  en raison de votre comportement !"
                                               type="text" placeholder="Ecrivez votre commentaire ici ..."
                                               style="padding: 11px;width: 490px" name="aa" id="aa" class="texte"/>
                                        <a href="{{ path('singlepost',{'id':pub.id}) }}"><p
                                                    style="margin-top: -40px;margin-left:520px "><span id="count"
                                                                                                       class="count">{{ pub.commentaires | length }}</span>
                                                commentaires</p></a>
                                        <br>
                                        <div style="background-color: #F6FDFE;padding: 1px;border-radius: 20px">
                                            <span style="font-size: medium;font-weight: bold;margin-left: 100px" id="11"
                                                  class="c1"></span>
                                            <p class="msg" id="msg" style="font-size: small;margin-left: 10px"></p>
                                        </div>
                                    </form>
                                {% endif %}

                            {% else %}
{#                                 <a href="{{ path('singlepost',{'id':pub.id}) }}" > #}
                                <p style="margin-left:520px"><span id="count"
                                                                   class="count">{{ pub.commentaires | length }}</span>
                                    commentaires</p></a>
                            {% endif %}
                        </div>


                    </div>

            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{#    <script>#}
{#        // let map;#}
{#        // let markers = [];#}
{#        // function initMap() {#}
{#        //     tab = document.querySelectorAll("div.map1");#}
{#        //     console.log(tab[1].id);#}
{#        //     for (let i = 0; i < tab.length; i++) {#}
{#        //         const haightAshbury = {lat: 37.2720905, lng: 9.8708565};#}
{#        //         map = new google.maps.Map(document.getElementById(tab[i].id), {#}
{#        //             zoom: 10,#}
{#        //             center: haightAshbury,#}
{#        //             draggable: true#}
{#        //         });#}
{#        //     }#}
{#        // }#}


{#        function onClickBtnLike(event) {#}
{#            event.preventDefault();#}
{#            const url = this.action;#}
{#            console.log(url);#}
{#            var com = this.querySelector('.msg');#}
{#            var span = this.querySelector('.c1');#}
{#            var count = this.querySelector('.count');#}
{#            var texte = this.querySelector('.texte');#}
{#            console.log(texte);#}
{#            let data = new FormData(this);#}
{#            axios.post(url, data).then(function (response) {#}
{#                // $('#count').load(document.URL +  ' #count');#}
{#                console.log(response.data);#}
{#                count.textContent = response.data.nbrcomments;#}
{#                span.textContent = response.data.message;#}
{#                {% if app.user %}#}
{#                com.textContent = " Ajouté par {{ app.user.nomComplet |upper }} {{ app.user.nomComplet }}" + "  à " + "  " + response.data.dateajout;#}
{#                {% endif %}#}
{#                $('#aa').value = "";#}
{#                // $('#msg').load(document.URL +  ' #msg');#}
{#            }).catch(function (error) {#}
{#                console.log(error)#}
{#            })#}
{#        }#}

{#        document.querySelectorAll('form.comment').forEach(function (link) {#}
{#            link.addEventListener('submit', onClickBtnLike)#}
{#        })#}
{#    </script>#}
{#    <!--***** PHOTOSWIPE *****-->#}
{#    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="pswp__bg"></div>#}
{#        <div class="pswp__scroll-wrap">#}
{#            <div class="pswp__container">#}
{#                <div class="pswp__item"></div>#}
{#                <div class="pswp__item"></div>#}
{#                <div class="pswp__item"></div>#}
{#            </div>#}
{#            <div class="pswp__ui pswp__ui--hidden">#}
{#                <div class="pswp__top-bar">#}
{#                    <div class="pswp__counter"></div>#}
{#                    <button class="pswp__button pswp__button--close" title="Close (Esc)">1</button>#}
{#                    <button class="pswp__button pswp__button--share" title="Share">2</button>#}
{#                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen">3</button>#}
{#                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out">4</button>#}
{#                    <div class="pswp__preloader">#}
{#                        <div class="pswp__preloader__icn">#}
{#                            <div class="pswp__preloader__cut">#}
{#                                <div class="pswp__preloader__donut">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">#}
{#                    <div class="pswp__share-tooltip">#}
{#                    </div>#}
{#                </div>#}
{#                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>#}
{#                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>#}
{#                <div class="pswp__caption">#}
{#                    <div class="pswp__caption__center"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <!-- PhotoSwipe JS -->#}
{#    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>#}
{#    <script>#}
{#        // let map;#}
{#        // let markers = [];#}
{#        // function initMap() {#}
{#        //     tab = document.querySelectorAll("div.map1");#}
{#        //     console.log(tab[1].id);#}
{#        //     for (let i = 0; i < tab.length; i++) {#}
{#        //         const haightAshbury = {lat: 37.2720905, lng: 9.8708565};#}
{#        //         map = new google.maps.Map(document.getElementById(tab[i].id), {#}
{#        //             zoom: 10,#}
{#        //             center: haightAshbury,#}
{#        //             draggable: true#}
{#        //         });#}
{#        //     }#}
{#        // }#}


{#        function onClickBtnLike(event) {#}
{#            event.preventDefault();#}
{#            const url = this.action;#}
{#            console.log(url);#}
{#            var com = this.querySelector('.msg');#}
{#            var span = this.querySelector('.c1');#}
{#            var count = this.querySelector('.count');#}
{#            var texte = this.querySelector('.texte');#}
{#            console.log(texte);#}
{#            let data = new FormData(this);#}
{#            axios.post(url, data).then(function (response) {#}
{#                // $('#count').load(document.URL +  ' #count');#}
{#                console.log(response.data);#}
{#                count.textContent = response.data.nbrcomments;#}
{#                span.textContent = response.data.message;#}
{#                {% if app.user %}#}
{#                com.textContent = " Ajouté par {{ app.user.nomComplet |upper }} {{ app.user.nomComplet }}" + "  à " + "  " + response.data.dateajout;#}
{#                {% endif %}#}
{#                $('#aa').value = "";#}
{#                // $('#msg').load(document.URL +  ' #msg');#}
{#            }).catch(function (error) {#}
{#                console.log(error)#}
{#            })#}
{#        }#}

{#        document.querySelectorAll('form.comment').forEach(function (link) {#}
{#            link.addEventListener('submit', onClickBtnLike)#}
{#        })#}
{#    </script>#}
{#    <!--***** PHOTOSWIPE *****-->#}
{#    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="pswp__bg"></div>#}
{#        <div class="pswp__scroll-wrap">#}
{#            <div class="pswp__container">#}
{#                <div class="pswp__item"></div>#}
{#                <div class="pswp__item"></div>#}
{#                <div class="pswp__item"></div>#}
{#            </div>#}
{#            <div class="pswp__ui pswp__ui--hidden">#}
{#                <div class="pswp__top-bar">#}
{#                    <div class="pswp__counter"></div>#}
{#                    <button class="pswp__button pswp__button--close" title="Close (Esc)">1</button>#}
{#                    <button class="pswp__button pswp__button--share" title="Share">2</button>#}
{#                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen">3</button>#}
{#                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out">4</button>#}
{#                    <div class="pswp__preloader">#}
{#                        <div class="pswp__preloader__icn">#}
{#                            <div class="pswp__preloader__cut">#}
{#                                <div class="pswp__preloader__donut">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">#}
{#                    <div class="pswp__share-tooltip">#}
{#                    </div>#}
{#                </div>#}
{#                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>#}
{#                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>#}
{#                <div class="pswp__caption">#}
{#                    <div class="pswp__caption__center"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <!-- PhotoSwipe JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>



    <script>
        // $(document).ready(function() {
        let map;
        let markers = [];

        function initMap() {
            tab = document.querySelectorAll("div.map1");
            tab2 = document.querySelectorAll("div.test");
            long = tab2[0].childNodes;
            console.log(tab2[0].childNodes);
            console.log(long[1], long[3]);
            for (let i = 0; i < tab.length; i++) {
                var latit = Number(tab2[i].childNodes[3].value);
                var long = Number(tab2[i].childNodes[1].value);
                const haightAshbury = {lat: long, lng: latit};
                map = new google.maps.Map(document.getElementById(tab[i].id), {
                    zoom: 12,
                    center: haightAshbury,
                    draggable: true
                });
                new google.maps.Marker({
                    position: haightAshbury,
                    map,
                    title: "Localisation",
                });
            }
        }
    </script>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "20%";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function delpost(d) {
            console.log(d);
            var r = confirm(" Êtes vous sure de vouloir supprimer cette publication ?");
            if (r === true) {
                $.ajax({
                        url: "{{ path('supprimerpost') }}",
                        type: 'post',
                        data: {d: d},
                        // dataType: 'json',
                        success: function (da) {
                            // if(da.test===true){
                            $('#divcard').load(document.URL + ' #divcard');
                            console.log("post supprimé")
                            // }
                        }
                    }
                )
            }
        }

        function onClickBtnLike(event) {
            event.preventDefault();
            const url = this.action;
            console.log(url);
            var com = this.querySelector('.msg');
            var span = this.querySelector('.c1');
            var count = this.querySelector('.count');
            var texte = this.querySelector('.texte');
            console.log(texte);
            let data = new FormData(this);
            axios.post(url, data).then(function (response) {
                // $('#count').load(document.URL +  ' #count');
                console.log(response.data);
                count.textContent = response.data.nbrcomments;
                span.textContent = response.data.message;
                {% if app.user %}
                com.textContent = " Ajouté par {{ app.user.nomComplet |upper }} " + "  à " + "  " + response.data.dateajout;
                {% endif %}
                $('#aa').value = "";
                // $('#msg').load(document.URL +  ' #msg');
            }).catch(function (error) {
                console.log(error)
            })
        }

        document.querySelectorAll('form.comment').forEach(function (link) {
            link.addEventListener('submit', onClickBtnLike)
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>

{% endblock %}



































































