
{% extends "admin/bars.html.twig" %}


{% block contenpage %}


<div>
    <h5>salut {{ app.user.nomComplet }} ! merci de publier votre probleme en respectant les regles d'utilisations </h5>
    <div class="row" style="margin-left: 50px;width: auto;height: auto;margin-top: 5px">


                {{ form_start(form,{'attr':{'enctype':'multipart/form-data'}}) }}

                <br>
                <!----------------------------------------------->
                <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
                <script
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQxxrJ7IjyWm_Y0WDbp-cj-fD3EJ7Z4DA&callback=initMap&libraries=&v=weekly"
                        defer
                ></script>
                <style type="text/css">
                    /* Always set the map height explicitly to define the size of the div
                     * element that contains the map. */
                    #map {
                        height: 50%;
                    }
                    /* Optional: Makes the sample page fill the window. */
                    #map {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                </style>
                <script>
                    function initMap() {
                        const myLatLng = { lat:37.2720905, lng: 9.8708565 };
                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 10,
                            center: myLatLng,
                        });
                        new google.maps.Marker({
                            position: myLatLng,
                            map,
                            title: "Hello World!",
                        });
                    }
                </script>
                <br>

                <!------------------------------------------------------------------->
                <div class="col" style="margin-left:10px">
                    {{ form_widget(form1.contenu_pub,{'attr':{'placeholder':pub1.contenupub,'class':'form-control','cols':'30','rows':'4'}}) }}
                </div>
                <br>
                <div id="map" style="margin-left:10px"></div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
{#            <div class="col">#}
{#                <div style="margin-left: 80px">#}
{#                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4">#}
{#                        <i class="fa fa-cloud-upload mr-2 text-muted"></i>#}
{#                        <small class="text-uppercase font-weight-bold text-muted">Choisir 4 photos</small>#}
{#                        <br>#}
{#                        <input type="file" name="files[]"  id="files" multiple="multiple" accept="image/jpg,image/png, image/jpeg" aria-valuemax="" />#}
{#                    </label>#}
{#                </div>#}
{#                <div style="height: 20px;">#}
{#                </div>#}
{#            </div>#}

            <a href="{{ path('newpost') }}" class="button button-a button-big button-rouded"  style="margin-left: 200px"><button type="submit" style="background-color: transparent;border: navajowhite;color: white">Repost</button> </a>
            {{ form_end(form1) }}
        </div>

<br>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{#<script>#}
{#    $("#files").on("change", function() {#}
{#        if ($("#files")[0].files.length > 4) {#}
{#            alert("You can select only 4 images");#}
{#            $("#files").val([]);#}
{#        }#}
{#    });#}
{#    var uploadField = document.getElementById("files");#}

{#    uploadField.onchange = function() {#}
{#        if(this.files[0].size > 307200){#}
{#            alert("File is too big!");#}
{#            this.value = "";#}
{#        };#}
{#    };#}
{#</script>#}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
