{% extends "admin/bars.html.twig" %}


{% block contenpage %}
<style>
       .my-gallery {
           width: 100%;
           float: left;
       }
    .my-gallery img {
        width: 100%;
        height: auto;
    }
    .my-gallery figure {
        display: block;
        float: left;
        margin: 0 5px 5px 0;
        width: 150px;
    }
    .my-gallery figcaption {
        display: none;
    }

    .spliter {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .carte{
        /*display:inline-block;*/
    }
    .spanclass{
        font-size: medium;
        font-weight: bold;
        margin-left: 15px;
        top: 40px
    }
   

    .sidenav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #6c757d;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        margin-top: 100px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
       .map1 {
           margin-left: 20px;
           width: 92%;
           height: 500px;
       }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdnbu2dKsKShoO4zqET8uFYY6EV4KapxE&callback=initMap&libraries=&v=weekly" defer></script>
<script>
    let map;
    let markers = [];
    function initMap() {
        tab2 = document.querySelectorAll("div.test");
        long = tab2[0].childNodes;
        console.log(tab2[0].childNodes);
        console.log(long[1],long[3]);
        var latit = Number(tab2[0].childNodes[3].value);
        var long =Number(tab2[0].childNodes[1].value);
        const haightAshbury = { lat: long, lng: latit };
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: haightAshbury,
            draggable: true
        });
        new google.maps.Marker({
            position: haightAshbury,
            map,
            title: "Localisation",
        });
    }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<meta name="google" content="notranslate">
<!-- Photoswipe CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
<section id="work" class="portfolio-mf sect-pt4 route" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="visibility: hidden" id="alert">
                    You should login to create a post !
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"  onclick="closediv()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="title-box text-center">
                    {% if app.user %}
                        {% if app.user.deleted!=1 %}
                            <a href="{{ path('newpost') }}"><button class="button button-a button-big button-rouded">Créer une nouvelle publication</button></a>
                        {% else %}
                            <a href="#" disabled="disabled" title="Vous êtes bloqué pour le moment par un administrateur en raison de votre comportement !"><button class="button button-a button-big button-rouded">Créer une nouvelle publication</button></a>
                        {% endif %}
                    {% else %}
                        <button onclick="alertinfo();" class="button button-a button-big button-rouded">Créer une nouvelle publication</button>
                    {% endif %}
                        <script>
                            function alertinfo(){
                                alert("Vous devez connecter à votre compte pour pouvoir créer un post ");
                                // if(document.getElementById('testdiv').style.visibility === 'visible'){
                                //     document.getElementById('testdiv').style.visibility = 'hidden';
                                // }
                                // $('.alert').alert();
                                // $(elem).show();
                                // document.getElementById('alert').style.visibility = 'visible';
                                // $('.alert').alert();
                                // document.getElementById('testdiv').style.visibility = 'visible';
                            }

                        </script>
                    <p class="subtitle-a">
                    </p>
                    <div class="line-mf">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-left: 20%" id="main">
<div  class=" container" >
    <div class="animated fadeIn carte " style="width: 64rem;" id="divcard">
      {%  if pub!=null %}
        <div class="card-body">

            <p class="x_content">
                <br/>
                <img width="50px" height="50px" src=" {{ asset('uploads/images/'  ~ pub.user.logo) }}" alt="Awesome Image">

            <h2 style="color:#0c5460; font-family: Lobster;margin-left: 10px">Publication ajouté par {{pub.user.nomComplet |upper}} </h2>

            <p style="margin-left: 490px;font-size: small;color: dodgerblue;margin-top: -35px;">le {{ pub.datePub |date('d/m/Y H:i') }}</p>
                <div class="card-body" style="margin-top: -20px">

                    <div style="height: 100px;position: relative">
                        <h2 style=" color:lightslategrey; font-family:'Times New Roman';"
                            class="d-flex align-items-center mb-3">{{ pub.contenuPub}} </h2>
                    </div>
                    <div id="map" class="map1" style="height: 200px"></div>
                    <div class="test">
                        <input id="tableau1" type="hidden" value="{{ pub.longitude }}"/>
                        <input id="tableau2" type="hidden" value="{{ pub.latitude }}"/>
                    </div>
                    <br>
                    <div class="inner">
                        <!--***** GALLERY *****-->
                        {% if pub.mutimedia | length == 4 %}
                            <div class="my-gallery" itemscope >
                                <figure itemprop="associatedMedia" itemscope >
                                    <table>
                                        <tr>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope >
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <img class="inner rounded" src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 280px;height: 200px;margin-left: 20px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope >
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" style="width: 280px;height: 200px;margin-left: 150px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >
                                                <figure itemprop="associatedMedia" itemscope>
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" style="width: 280px;height: 200px;margin-left: 20px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope >
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[3].source) }}" itemprop="contentUrl" data-size="1000x1024">
                                                        <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[3].source) }}" style="width: 280px;height: 200px;margin-left: 150px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                        </tr>
                                    </table>
                                </figure>
                            </div>
                            {#                            <button class="button button-a  button-rouded">  {{ pub.commentaires|length }}</button>#}

                        {% endif %}
                        {% if pub.mutimedia | length == 3 %}
                            <div class="my-gallery" itemscope>
                                <figure itemprop="associatedMedia" itemscope >
                                    <table>
                                        <tr>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope >
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 170px;height: 100px;margin-left: 20px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope >
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" style="width: 160px;height: 100px;margin-left: 40px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[2].source) }}" style="width: 250px;height: 120px;margin-left: 60px" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </figure>
                                            </td>
                                        </tr>
                                    </table>
                                </figure>
                            </div>
                            {#                            <button  class="button button-a  button-rouded">  {{ pub.commentaires|length }}</button>#}

                        {% endif %}
                        {% if pub.mutimedia | length == 2 %}
                            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <table>
                                        <tr>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <div class="inner">
                                                            <img class="inner rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 280px;height: 300px;margin-left: 7px" itemprop="thumbnail" alt="Image description" />
                                                        </div>
                                                    </a>
                                                </figure>
                                            </td>
                                            <td>
                                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                    <a href="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" itemprop="contentUrl" data-size="964x1024">
                                                        <div class="inner">
                                                            <img class="rounded"  src="{{ asset('uploads/images/'~pub.mutimedia[1].source) }}" style="width: 280px;height: 300px;margin-left: 130px" itemprop="thumbnail" alt="Image description" />
                                                        </div>
                                                    </a>
                                                </figure>
                                            </td>
                                        </tr>
                                    </table>
                                </figure>
                            </div>
                        {% endif %}
                        {% if pub.mutimedia | length == 1 %}
                            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" itemprop="contentUrl" data-size="1024x1024">
                                            <img class="rounded" src="{{ asset('uploads/images/'~pub.mutimedia[0].source) }}" style="width: 500px;height: 390px;margin-left: 50px" itemprop="thumbnail" alt="Image description" />
                                        </a>
                                    </figure>
                                </figure>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                    {% if app.user.deleted!=1 %}
                        <form  name="form" method="get" id="{{ pub.id }}" class="comment"  action="{{ path('newcomment',{'id':pub.id}) }}" >
                            <input  required type="text" placeholder="Ecrivez votre commentaire ici ..." style="padding: 11px;width: 490px" name="aa" id="aa" class="texte" />
                            <p style="margin-top: -40px;margin-left:520px " ><span id="count" class="count">{{ pub.commentaires | length }}</span> commentaires</p>
                            <br>
                        </form>
                    {% else %}
                         <form  name="form" method="get" id="{{ pub.id }}" class="comment"  action="{{ path('newcomment',{'id':pub.id}) }}" >
                             <input  disabled title="Vous êtes bloqué pour le moment par un administrateur  en raison de votre comportement !"
                                     required type="text" placeholder="Ecrivez votre commentaire ici ..." style="padding: 11px;width: 490px" name="aa" id="aa" class="texte" />
                             <p style="margin-top: -40px;margin-left:520px " ><span id="count" class="count">{{ pub.commentaires | length }}</span> commentaires</p>
                             <br>
                         </form>
                    {% endif %}
                {% else %}
                    <p style="margin-top: -10px;margin-left:520px " ><span id="count" class="count">{{ pub.commentaires | length }}</span> commentaires</p>
                {% endif %}
                <div id="comments">
                {% for comm in pub.commentaires %}
                    <div style="background-color: #F8F9F9;padding: 1px;border-radius: 20px" id="add" class="add">
                        <p>
                            {% if app.user %}
                                {% if  comm.user.id == app.user.id %}
                                    {% if app.user.deleted!=1 %}
                                         <span onclick="spanSwitch(this.id)" id="{{ comm.id }}" class="spanclass" >{{ comm.contenuComnt }}</span>
                                    {% else %}
                                        <span  id="{{ comm.id }}" class="spanclass" title="Impossible de modifier votre commentaire car vous êtes bloqué pour le moment par un administrateur  en raison de votre comportement !" >{{ comm.contenuComnt }}</span>
                                    {% endif %}
                                        {% else %}
                                     <span  id="{{ comm.id }}" class="spanclass" >{{ comm.contenuComnt }}</span>
                                {% endif %}
                                {% else %}
                                    <span  id="{{ comm.id }}" class="spanclass" >{{ comm.contenuComnt }}</span>
                            {% endif %}
                            {% if app.user %}
                                {% if comm.user.id == app.user.id %}
                                    {% if app.user.deleted!=1 %}
                                        <a class="delcom"  id="cmt" onclick="deletef({{ comm.id }})"> <span style="float: right;margin-right: 10px;margin-top: 5px" title="supprimer"> <i class="far fa-trash-alt"></i></span></a>
                                    {% else %}
                                        <a class="delcom"  id="cmt" title="Vous êtes bloqué pour le moment par un administrateur  en raison de votre comportement !" > <span style="float: right;margin-right: 10px;margin-top: 5px" > <i class="far fa-trash-alt"></i></span></a>
                                    {% endif %}
                                    {% endif %}
                          {% endif %}
                        </p>
                        <p id="part2" style="font-size: small;margin-left: 310px;margin-top: 10px">Ajouté par <span style="font-weight: bold" >{{ comm.user.nomComplet |upper }}  </span>le {{ comm.dateComnt|date('d/m/Y H:i') }}</p>
                    </div>
                    <br>
                {% endfor %}
            </div>
            </div>
    </div>
</div>
    {% endif %}
</section>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

    function spanSwitch(id) {

        let txt = document.getElementById(id).textContent;
        console.log('span : ' +document.getElementById(id));
        var element = $('#'+id);
        console.log(element.val().length);
        var input=$("<input>", {val:$(element).text(), type: "text",width:'500px'});
        element.hide();
        element.after(input);
        // console.log(element);
        input.select();

        $(input).on('blur',function () {
             ajaxcall(id,input.val(),input,element);
             // $('#'+id).load(document.URL +  ' #'+id);
        });
    }
function ajaxcall(id,contenu,input,element){
    $.ajax({
            url: "{{ path('editcomment')}}",
            data: {d:id,c:contenu},
            type: 'POST',
            dataType: 'json',
            success: function(data) {
                console.log(data.msg);
                // console.log(result);
                input.hide();
                element.text(input.val());
                element.show();
            },
        // error: function (exception) {
        //     alert('Exception:' + exception);
        // }
        }

    )
}


        function deletef(d){
            console.log(d);
            $.ajax({
                    url: "{{ path('deletecomment')}}",
                    type: 'post',
                    data: {d:d},
                    // dataType: 'json',
                    success: function(da){
                        // if(da.test===true){
                        // $('.add').load(document.URL +  ' .add');
                        $('#count').load(document.URL +  ' #count');
                        $('#comments').load(document.URL +  ' #comments');
                        console.log("cmnt sup")
                        // }
                    }
                }
            )
        }

        function onClickBtnLike(event){
            event.preventDefault();
            const url = this.action;
            console.log(url);
            var count = this.querySelector('.count');
            let data = new FormData(this);
            axios.post(url,data).then(function(response){
                $('#count').load(document.URL +  ' #count');
                console.log(response.data);
                $('#add').load(document.URL +  ' #add');
                $('#comments').load(document.URL +  ' #comments');
                $('#aa').value="";
                response.data=null;
            }).catch(function(error){
                console.log(error)
            })
        }
        document.querySelectorAll('form.comment').forEach(function (link) {
            link.addEventListener('submit',onClickBtnLike)
        });

      // async function deletecomment(event){
      //       event.preventDefault();
      //       const url = this.href;
      //       console.log(url);
      //       var count = this.querySelector('.count');
      //      await axios.put(url).then(function(response){
      //           $('#count').load(document.URL +  ' #count');
      //           console.log(response.data);
      //           $('#comments').load(document.URL +  ' #comments');
      //          response.data=null;
      //
      //      }).catch(function(response){
      //          $('#count').load(document.URL +  ' #count');
      //          console.log(response.data);
      //          $('#comments').load(document.URL +  ' #comments');
      //           console.log(response)
      //       })
      //   }
      //   document.querySelectorAll('a.delcom').forEach(function (link) {
      //       link.addEventListener('click',deletecomment)
      //   });

        </script>
{% endblock %}

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip">
                </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- PhotoSwipe JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>

<script>
    var initPhotoSwipeFromDOM = function(gallerySelector) {
        // parse slide data (url, title, size ...) from DOM elements
        // (children of gallerySelector)
        var parseThumbnailElements = function(el) {
            var thumbElements = el.childNodes,
                numNodes = thumbElements.length,
                items = [],
                figureEl,
                linkEl,
                size,
                item;
            for(var i = 0; i < numNodes; i++) {
                figureEl = thumbElements[i]; // <figure> element
                // include only element nodes
                if(figureEl.nodeType !== 1) {
                    continue;
                }
                linkEl = figureEl.children[0]; // <a> element
                size = linkEl.getAttribute('data-size').split('x');
                // create slide object
                item = {
                    src: linkEl.getAttribute('href'),
                    w: parseInt(size[0], 10),
                    h: parseInt(size[1], 10)
                };
                if(figureEl.children.length > 1) {
                    // <figcaption> content
                    item.title = figureEl.children[1].innerHTML;
                }
                if(linkEl.children.length > 0) {
                    // <img> thumbnail element, retrieving thumbnail url
                    item.msrc = linkEl.children[0].getAttribute('src');
                }
                item.el = figureEl; // save link to element for getThumbBoundsFn
                items.push(item);
            }
            return items;
        };
        // find nearest parent element
        var closest = function closest(el, fn) {
            return el && ( fn(el) ? el : closest(el.parentNode, fn) );
        };
        // triggers when user clicks on thumbnail
        var onThumbnailsClick = function(e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;
            var eTarget = e.target || e.srcElement;
            // find root element of slide
            var clickedListItem = closest(eTarget, function(el) {
                return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
            });
            if(!clickedListItem) {
                return;
            }
            // find index of clicked item by looping through all child nodes
            // alternatively, you may define index via data- attribute
            var clickedGallery = clickedListItem.parentNode,
                childNodes = clickedListItem.parentNode.childNodes,
                numChildNodes = childNodes.length,
                nodeIndex = 0,
                index;
            for (var i = 0; i < numChildNodes; i++) {
                if(childNodes[i].nodeType !== 1) {
                    continue;
                }

                if(childNodes[i] === clickedListItem) {
                    index = nodeIndex;
                    break;
                }
                nodeIndex++;
            }
            if(index >= 0) {
                // open PhotoSwipe if valid index found
                openPhotoSwipe( index, clickedGallery );
            }
            return false;
        };
        // parse picture index and gallery index from URL (#&pid=1&gid=2)
        var photoswipeParseHash = function() {
            var hash = window.location.hash.substring(1),
                params = {};

            if(hash.length < 5) {
                return params;
            }
            var vars = hash.split('&');
            for (var i = 0; i < vars.length; i++) {
                if(!vars[i]) {
                    continue;
                }
                var pair = vars[i].split('=');
                if(pair.length < 2) {
                    continue;
                }
                params[pair[0]] = pair[1];
            }
            if(params.gid) {
                params.gid = parseInt(params.gid, 10);
            }
            return params;
        };
        var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
            var pswpElement = document.querySelectorAll('.pswp')[0],
                gallery,
                options,
                items;
            items = parseThumbnailElements(galleryElement);
            // define options (if needed)
            options = {
                // define gallery index (for URL)
                galleryUID: galleryElement.getAttribute('data-pswp-uid'),
                getThumbBoundsFn: function(index) {
                    // See Options -> getThumbBoundsFn section of documentation for more info
                    var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                        pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                        rect = thumbnail.getBoundingClientRect();
                    return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                }
            };
            // PhotoSwipe opened from URL
            if(fromURL) {
                if(options.galleryPIDs) {
                    // parse real index when custom PIDs are used
                    // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                    for(var j = 0; j < items.length; j++) {
                        if(items[j].pid === index) {
                            options.index = j;
                            break;
                        }
                    }
                } else {
                    // in URL indexes start from 1
                    options.index = parseInt(index, 10) - 1;
                }
            } else {
                options.index = parseInt(index, 10);
            }
            // exit if index not found
            if( isNaN(options.index) ) {
                return;
            }
            if(disableAnimation) {
                options.showAnimationDuration = 0;
            }
            // Pass data to PhotoSwipe and initialize it
            gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };
        // loop through all gallery elements and bind events
        var galleryElements = document.querySelectorAll( gallerySelector );
        for(var i = 0, l = galleryElements.length; i < l; i++) {
            galleryElements[i].setAttribute('data-pswp-uid', i+1);
            galleryElements[i].onclick = onThumbnailsClick;
        }
        // Parse URL and open gallery if it contains #&pid=3&gid=1
        var hashData = photoswipeParseHash();
        if(hashData.pid && hashData.gid) {
            openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
        }
    };
    // execute above function
    initPhotoSwipeFromDOM('.my-gallery');
</script>
{% endblock %}